.App {
  height: 1080px;
  width: 1920px;
  margin: 0;
  background-image: url(/src/imgs/rick-y-morty-fanart-2020_1920x1080_xtrafondos.com.jpg);
  background-repeat: no-repeat;
  background-size: 1000;

}

.card-character{
  height: 100%;
  height: 100%;
  justify-content: center;
  
}

.search{  
  display: flex;
  justify-content: center;

}

.jorge{
  display: flex;
  color: rgb(0, 225, 255);
  justify-content: space-around;
  background-color: rgba(165, 42, 42, 0.226);
  width: 1920px;
  height: 91px;

}

.sub-title{
  font-weight: 700;
  font-size: 24px;
}

.resit-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(139, 44, 0, 0.205);
  margin-top: -23px;
}

.result{
  font-size: 18px;
}

#circle{
  background-color: red;
  margin: 5px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  
}

#statelife{
  background-color: rgba(0, 0, 0, 0.767);
  border-radius: 4px;
  width: max-content;
  display: flex;
  position: absolute;
  color: rgb(247, 49, 23);
  padding-right: 5px;
}
.card-residet{
  display: block;
  text-align: left;
  width: 163px;
  height: auto;
  background-color: #0622267e;
  margin: 5vh 5vh;
  color: rgb(255, 255, 255);
  padding-bottom: 10px;
  
}

.card-residet img {
  width: 162px;
}

#nameId{
  color: red;
  font-size: larger;
}

#ulList{
  padding-left: 20px;
  color: #ffffff;
}

.universe{

  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 448px;
  font-weight: bold;
}


@media (max-width: 600px) {
  .App {
    height: 100%;
    width: 600px;
    margin: 0;
    display:flex ;
    background-image: url(/src/imgs/RickyMorty.jpg);
    background-repeat: no-repeat;
    background-size: 600px ;
    
  }

  .card-character{
    height: 100%;
    margin-top: 41vh;
    height: 100%;
    justify-content: center;
    
  }
  #nameId{
    color: red;
    font-size: larger;
  }

  #ulList{
    padding-left: 20px;
    color: #ffffff;
  }

  .jorge{
    display: flex;
    justify-content: space-around;
    background-color: brown;
    width: 606px;
    height: 91px;
   
  }
    
  .jorge div {
    color: coral;
    padding: 18px;
    text-align: center;
    margin-top: -19px;
  }

  .result{
    font-size: 18px;
    padding: 0;
  }

  .search{
    display: flex;
    justify-content: center;
  }

  .card-residet{
    display: block;
    text-align: left;
    width: 163px;
    height: auto;
    background-color: #062226;
    margin: 5vh 5vh;
    color: rgb(51, 126, 193);
    padding-bottom: 10px;
  }

  .card-residet img {
    width: 162px;
  }

  .card-residet div h1 {
    margin: 0;
  }
  .resit-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: darkcyan;
    margin-top: -23px;
  }
}
  
  
  





  