.App {
  height: 100%;
  width: 100%;
  margin: 0;
  display:flex ;
  background-image: url(/src/imgs/RickyMorty.jpg);
  background-repeat: no-repeat;
  background-size: 1000;

}

.card-character{
  height: 100%;
  margin-top: 50vh;
}

.jorge{
  width: 25%;
  padding-top: 0;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.sub-title{
  font-weight: 700;
  font-size: 24px;
}
.result{
  font-size: 18px;
}
.card-residet{
  
  display: flex;
  background-color: rgba(36, 23, 175, 0.729);
  border-radius: 2vh;
  box-shadow: 3vh;
  color: rgba(220, 245, 240, 0.562);
  margin-top: 4vh;
  height: 25vh;
  
}

.card-residet img{
  border-radius: 2vh;
}

.universe{

  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 448px;
  font-weight: bold;
}


@media (max-width: 600px) {
  .App {
    height: 100%;
    width: 100%;
    margin: 0;
    display:flex ;
    background-image: url(/src/imgs/RickyMorty.jpg);
    background-repeat: no-repeat;
    background-size: 600px ;
    
  }

  .card-character{
    height: 100%;
    margin-top: 50vh;
    height: 100%;
    justify-content: center;
    
  }
  #nameId{
    color: red;
    font-size: larger;
  }

  #ulList{
    padding-left: 20px;
    color: #ffffff;
  }

  .jorge{
    display: flex;
    justify-content: space-around;
    background-color: brown;
    width: 606px;
    height: 91px;
   
  }
    
  .jorge div {
    color: coral;
    padding: 18px;
    text-align: center;
    margin-top: -19px;
  }

  .result{
    font-size: 18px;
    padding: 0;
  }

  .search{
    display: flex;
    justify-content: center;
  }

  .card-residet{
    display: block;
    text-align: left;
    width: 163px;
    height: auto;
    background-color: #062226;
    margin: 5vh 5vh;
    color: rgb(51, 126, 193);
    padding-bottom: 10px;
  }

  .card-residet img {
    width: 162px;
  }

  .card-residet div h1 {
    margin: 0;
  }
  .resit-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: darkcyan;
    margin-top: -23px;
  }
}
  
  
  





  